<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<div id="sidebar">
    <div id="search">
        <input type="text" placeholder="Search here..."/><button type="submit" class="tip-right" title="Search"><i class="fa fa-search"></i></button>
    </div>
    <ul>
        <li class="active"><a href="/"><i class="fa fa-home"></i> <span>主页</span></a></li>
        <li class="submenu">
            <a href="#"><i class="fa fa-flask"></i> <span>样例</span> <i class="arrow fa fa-chevron-right"></i></a>
            <ul>
                <li><a href="generateConfig">生成config</a></li>
                <li><a href="upload">文件上传</a></li>
                <li><a href="download">文件下载</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="#"><i class="fa fa-th-list"></i> <span>扩展</span> <i class="arrow fa fa-chevron-right"></i></a>
            <ul>
                <li><a href="#">暂无</a></li>
                <li><a href="#">暂无</a></li>
                <li><a href="#">暂无</a></li>
                <li><a href="#">暂无</a></li>
            </ul>
        </li>

    </ul>

</div>
